# Data
data/
!data/.gitkeep
data/processed/*.pkl
!data/processed/.gitkeep

# MLflow runs
mlruns/
!mlruns/.gitkeep

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
.env

# Jupyter artifacts
.ipynb_checkpoints/

# Other
.DS_Store
Thumbs.db